openapi: 3.0.0
info:
  title: Dimewise API
  description: RESTful API for the Dimewise expense tracking application
  version: 1.0.0
  contact:
    name: Dimewise Team
servers:
  - url: 'https://api.dimewise.com/v1'
    description: Production server
  - url: 'http://localhost:8080/v1'
    description: Development server
security:
  - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CurrencyType:
      type: string
      enum:
        - USD
        - EUR
        - GBP
        - JPY
        - KRW
        - CAD
        - AUD
        - CHF
        - CNY
        - SEK
        - NOK
        - MXN
        - NZD
        - SGD
        - HKD
        - INR
        - RUB
        - ZAR
        - TRY
        - BRL
        - PLN
        - MYR
        - THB
        - VND
        - IDR
        - PHP
        - TWD
        - DKK
        - CZK
        - HUF
      description: Supported currency types
    SupportedLanguage:
      type: string
      enum:
        - en
        - ja
      description: Supported languages
    PaymentMethodType:
      type: string
      enum:
        - credit_card
        - debit_card
        - cash
        - bank_transfer
        - digital_wallet
        - other
      description: Payment method types
    BaseEntity:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
    User:
      allOf:
        - $ref: '#/components/schemas/BaseEntity'
        - type: object
          properties:
            clerk_id:
              type: string
              description: Clerk authentication ID
            currency:
              $ref: '#/components/schemas/CurrencyType'
            preferred_language:
              $ref: '#/components/schemas/SupportedLanguage'
          required:
            - clerk_id
            - currency
            - preferred_language
    UserCreate:
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/CurrencyType'
        preferred_language:
          $ref: '#/components/schemas/SupportedLanguage'
      required:
        - currency
        - preferred_language
    UserUpdate:
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/CurrencyType'
        preferred_language:
          $ref: '#/components/schemas/SupportedLanguage'
    Category:
      allOf:
        - $ref: '#/components/schemas/BaseEntity'
        - type: object
          properties:
            user_id:
              type: string
              format: uuid
              description: User ID
            title:
              type: string
              description: Category title
            amount:
              type: integer
              description: Budget amount in cents
            currency:
              $ref: '#/components/schemas/CurrencyType'
            deleted_at:
              type: string
              format: date-time
              nullable: true
              description: Soft deletion timestamp
          required:
            - user_id
            - title
            - amount
            - currency
    CategoryCreate:
      type: object
      properties:
        title:
          type: string
          description: Category title
        amount:
          type: integer
          description: Budget amount in cents
        currency:
          $ref: '#/components/schemas/CurrencyType'
      required:
        - title
        - amount
        - currency
    CategoryUpdate:
      type: object
      properties:
        title:
          type: string
          description: Category title
        amount:
          type: integer
          description: Budget amount in cents
        currency:
          $ref: '#/components/schemas/CurrencyType'
    PaymentMethod:
      allOf:
        - $ref: '#/components/schemas/BaseEntity'
        - type: object
          properties:
            user_id:
              type: string
              format: uuid
              description: User ID
            title:
              type: string
              description: Payment method name
            method_type:
              $ref: '#/components/schemas/PaymentMethodType'
            deleted_at:
              type: string
              format: date-time
              nullable: true
              description: Soft deletion timestamp
          required:
            - user_id
            - title
            - method_type
    PaymentMethodCreate:
      type: object
      properties:
        title:
          type: string
          description: Payment method name
        method_type:
          $ref: '#/components/schemas/PaymentMethodType'
      required:
        - title
        - method_type
    PaymentMethodUpdate:
      type: object
      properties:
        title:
          type: string
          description: Payment method name
        method_type:
          $ref: '#/components/schemas/PaymentMethodType'
    Expense:
      allOf:
        - $ref: '#/components/schemas/BaseEntity'
        - type: object
          properties:
            user_id:
              type: string
              format: uuid
              description: User ID
            category_id:
              type: string
              format: uuid
              description: Category ID
            payment_method_id:
              type: string
              format: uuid
              description: Payment method ID
            title:
              type: string
              description: Expense title
            description:
              type: string
              nullable: true
              description: Expense description
            amount:
              type: integer
              description: Amount in cents
            currency:
              $ref: '#/components/schemas/CurrencyType'
            incurred_at:
              type: string
              format: date-time
              description: When the expense was incurred
            verified_at:
              type: string
              format: date-time
              nullable: true
              description: Verification timestamp
          required:
            - user_id
            - category_id
            - payment_method_id
            - title
            - amount
            - currency
            - incurred_at
    ExpenseCreate:
      type: object
      properties:
        category_id:
          type: string
          format: uuid
          description: Category ID
        payment_method_id:
          type: string
          format: uuid
          description: Payment method ID
        title:
          type: string
          description: Expense title
        description:
          type: string
          nullable: true
          description: Expense description
        amount:
          type: integer
          description: Amount in cents
        currency:
          $ref: '#/components/schemas/CurrencyType'
        incurred_at:
          type: string
          format: date-time
          description: When the expense was incurred
      required:
        - category_id
        - payment_method_id
        - title
        - amount
        - currency
        - incurred_at
    ExpenseUpdate:
      type: object
      properties:
        category_id:
          type: string
          format: uuid
          description: Category ID
        payment_method_id:
          type: string
          format: uuid
          description: Payment method ID
        title:
          type: string
          description: Expense title
        description:
          type: string
          nullable: true
          description: Expense description
        amount:
          type: integer
          description: Amount in cents
        currency:
          $ref: '#/components/schemas/CurrencyType'
        incurred_at:
          type: string
          format: date-time
          description: When the expense was incurred
    ExpenseWithDetails:
      allOf:
        - $ref: '#/components/schemas/Expense'
        - type: object
          properties:
            category:
              $ref: '#/components/schemas/Category'
            payment_method:
              $ref: '#/components/schemas/PaymentMethod'
    BudgetOverview:
      type: object
      properties:
        totalBudget:
          type: integer
          description: Total budget amount in cents
        totalSpent:
          type: integer
          description: Total spent amount in cents
        remainingBudget:
          type: integer
          description: Remaining budget in cents
        currency:
          $ref: '#/components/schemas/CurrencyType'
        month:
          type: integer
          description: Month (0-11)
        year:
          type: integer
          description: Year
    CategoryBreakdown:
      type: object
      properties:
        category_id:
          type: string
          format: uuid
        category_title:
          type: string
        budget:
          type: integer
          description: Budget amount in cents
        spent:
          type: integer
          description: Spent amount in cents
        remaining:
          type: integer
          description: Remaining budget in cents
        currency:
          $ref: '#/components/schemas/CurrencyType'
    PaymentMethodBreakdown:
      type: object
      properties:
        payment_method_id:
          type: string
          format: uuid
        payment_method_title:
          type: string
        total_spent:
          type: integer
          description: Total spent amount in cents
        currency:
          $ref: '#/components/schemas/CurrencyType'
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Operation completed successfully
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: Error message
        code:
          type: string
          example: VALIDATION_ERROR
    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        pagination:
          type: object
          properties:
            page:
              type: integer
              example: 1
            limit:
              type: integer
              example: 20
            total:
              type: integer
              example: 100
            total_pages:
              type: integer
              example: 5
paths:
  /users/me:
    get:
      summary: Get current user profile
      description: Retrieves the profile of the currently authenticated user
      tags:
        - Users
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-me-user
    post:
      summary: Create a new user
      description: Creates a new user with the provided information
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: post-me-user
    put:
      summary: Update current user profile
      description: Updates the profile of the currently authenticated user
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: User profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: put-me-user
  /categories:
    get:
      summary: Get user categories
      description: Retrieves all categories for the authenticated user
      tags:
        - Categories
      parameters:
        - name: include_deleted
          in: query
          description: Include soft-deleted categories
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Categories retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-categories
    post:
      summary: Create a new category
      description: Creates a new category for the authenticated user
      tags:
        - Categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryCreate'
      responses:
        '201':
          description: Category created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: post-category
  '/categories/{categoryId}':
    get:
      summary: Get category by ID
      description: Retrieves a specific category by ID
      tags:
        - Categories
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Category retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-category-by-id
    put:
      summary: Update category
      description: Updates a specific category
      tags:
        - Categories
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryUpdate'
      responses:
        '200':
          description: Category updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: put-category-by-id
    delete:
      summary: Delete category
      description: Soft deletes a category (sets deleted_at timestamp)
      tags:
        - Categories
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Category deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: delete-category-by-id
  /payment-methods:
    get:
      summary: Get user payment methods
      description: Retrieves all payment methods for the authenticated user
      tags:
        - Payment Methods
      parameters:
        - name: include_deleted
          in: query
          description: Include soft-deleted payment methods
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Payment methods retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethod'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-payment-methods
    post:
      summary: Create a new payment method
      description: Creates a new payment method for the authenticated user
      tags:
        - Payment Methods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodCreate'
      responses:
        '201':
          description: Payment method created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: post-payment-method
  '/payment-methods/{paymentMethodId}':
    get:
      summary: Get payment method by ID
      description: Retrieves a specific payment method by ID
      tags:
        - Payment Methods
      parameters:
        - name: paymentMethodId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment method retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Payment method not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-payment-method-by-id
    put:
      summary: Update payment method
      description: Updates a specific payment method
      tags:
        - Payment Methods
      parameters:
        - name: paymentMethodId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodUpdate'
      responses:
        '200':
          description: Payment method updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Payment method not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: put-payment-method-by-id
    delete:
      summary: Delete payment method
      description: Soft deletes a payment method (sets deleted_at timestamp)
      tags:
        - Payment Methods
      parameters:
        - name: paymentMethodId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment method deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Payment method not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: delete-payment-method-by-id
  /expenses:
    get:
      summary: Get user expenses
      description: Retrieves expenses for the authenticated user with optional filtering
      tags:
        - Expenses
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: search
          in: query
          description: Search query for title/description
          required: false
          schema:
            type: string
        - name: category_id
          in: query
          description: Filter by category ID
          required: false
          schema:
            type: string
            format: uuid
        - name: payment_method_id
          in: query
          description: Filter by payment method ID
          required: false
          schema:
            type: string
            format: uuid
        - name: date_from
          in: query
          description: Filter expenses from this date (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          description: Filter expenses to this date (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: verification_status
          in: query
          description: Filter by verification status
          required: false
          schema:
            type: string
            enum:
              - verified
              - unverified
        - name: include_deleted
          in: query
          description: Include soft-deleted expenses
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Expenses retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ExpenseWithDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-expenses
    post:
      summary: Create a new expense
      description: Creates a new expense for the authenticated user
      tags:
        - Expenses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpenseCreate'
      responses:
        '201':
          description: Expense created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseWithDetails'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Category or payment method not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: post-expense
  '/expenses/{expenseId}':
    get:
      summary: Get expense by ID
      description: Retrieves a specific expense by ID with category and payment method details
      tags:
        - Expenses
      parameters:
        - name: expenseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Expense retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseWithDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Expense not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-expense-by-id
    put:
      summary: Update expense
      description: Updates a specific expense
      tags:
        - Expenses
      parameters:
        - name: expenseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpenseUpdate'
      responses:
        '200':
          description: Expense updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseWithDetails'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Expense not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: put-expense-by-id
    delete:
      summary: Delete expense
      description: Soft deletes an expense (sets deleted_at timestamp)
      tags:
        - Expenses
      parameters:
        - name: expenseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Expense deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Expense not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: delete-expense-by-id
  '/expenses/{expenseId}/verify':
    post:
      summary: Verify expense
      description: Marks an expense as verified
      tags:
        - Expenses
      parameters:
        - name: expenseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Expense verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseWithDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Expense not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: post-verify-expense-by-id
  /analytics/budget-overview:
    get:
      summary: Get budget overview
      description: Retrieves budget overview for the specified month and year
      tags:
        - Analytics
      parameters:
        - name: month
          in: query
          description: 'Month 1-12'
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 12
            default: 1
        - name: year
          in: query
          description: Year
          required: false
          schema:
            type: integer
            minimum: 1990
            maximum: 2100
            default: 2024
      responses:
        '200':
          description: Budget overview retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetOverview'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-analytics-budget-overview
  /analytics/categories-breakdown:
    get:
      summary: Get categories breakdown
      description: Retrieves spending breakdown by categories for the specified month and year
      tags:
        - Analytics
      parameters:
        - name: month
          in: query
          description: 'Month (0-11, where 0 is January)'
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 11
            default: 0
        - name: year
          in: query
          description: Year
          required: false
          schema:
            type: integer
            minimum: 2000
            maximum: 2100
            default: 2024
      responses:
        '200':
          description: Categories breakdown retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CategoryBreakdown'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-analytics-categories-breakdown
  /analytics/payment-methods-breakdown:
    get:
      summary: Get payment methods breakdown
      description: Retrieves spending breakdown by payment methods for the specified month and year
      tags:
        - Analytics
      parameters:
        - name: month
          in: query
          description: 'Month (0-11, where 0 is January)'
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 11
            default: 0
        - name: year
          in: query
          description: Year
          required: false
          schema:
            type: integer
            minimum: 2000
            maximum: 2100
            default: 2024
      responses:
        '200':
          description: Payment methods breakdown retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethodBreakdown'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-analytics-payment-methods-breakdown
  /analytics/recent-transactions:
    get:
      summary: Get recent transactions
      description: Retrieves recent transactions for the authenticated user
      tags:
        - Analytics
      parameters:
        - name: limit
          in: query
          description: Number of recent transactions to retrieve
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
        - name: month
          in: query
          description: 'Month (0-11, where 0 is January)'
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 11
            default: 0
        - name: year
          in: query
          description: Year
          required: false
          schema:
            type: integer
            minimum: 2000
            maximum: 2100
            default: 2024
      responses:
        '200':
          description: Recent transactions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExpenseWithDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: get-analytics-recent-transactions
tags:
  - name: System
    description: System-related endpoints
  - name: Users
    description: User management endpoints
  - name: Categories
    description: Category management endpoints
  - name: Payment Methods
    description: Payment method management endpoints
  - name: Expenses
    description: Expense management endpoints
  - name: Analytics
    description: Analytics and dashboard endpoints
